.dropdown {
  font-size: var(--font-size-small);
  background-color: var(--color-light);
  width: 155px;
  height: 180px;
  box-shadow: var(--box-shadow);
  position: absolute;
  z-index: 1;

  &-color-mode {
    height: auto;
  }

  &-contents {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-scroll {
    width: 100%;
    height: 100%;
    clear: both;
    position: relative;
  }

  &-checked {
    box-shadow: inset 2px 0 var(--color-info);
    color: var(--color-typography-dark);
    background: var(--color-secondary);
  }

  &-color-checked {
    box-shadow: none;
  }
}

.input-dropdown {
  width: 60%;
  height: 100%;
  background-color: var(--color-light);
  outline: none;
  border: none;
  color: var(--color-typography-dark);
  font-size: var(--font-size-small);
}

.input-dropdown-user {
  width: 100%;
}

.dropdown-user {
  width: 100%;
  height: 36px;
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  padding: 2px 12px;
  line-height: 31px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-primary-light);
  text-align: left;
  border-color: var(--color-primary-light);

  &-item {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-typography-dark);
  }
}

.dropdown-color {
  width: 100%;
  height: 36px;
  padding: 2px 8px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-primary-light);
  display: flex;
  align-items: center;

  &-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 32px;

    &-success {
      background-color: var(--color-success);
    }

    &-warning {
      background-color: var(--color-warning);
    }

    &-danger {
      background-color: var(--color-danger);
    }
  }
}

.dropdown-status {
  width: 100%;
  height: 36px;
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  padding: 2px 12px;
  line-height: 31px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-primary-light);
  text-align: left;
  border-color: var(--color-primary-light);

  &-item {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-typography-dark);
  }
}
