.tag {
  padding: 4px 8px;
  border-radius: 12px;
  background-color: var(--color-secondary-dark);
  font-size: var(--font-size-small);
  color: var(--color-typography-dark);
  margin-top: 3px;
  margin-right: 8px;
  text-transform: lowercase;
}

.tag-checked {
  margin-top: 0;
  margin-left: 4px;
  margin-right: 0;
  padding: 2px 4px 2px 8px;
}

.icon-close {
  color: var(--color-typography);
  font-size: 20px;
  width: 20px;
  vertical-align: middle;
  cursor: pointer;
}
