.list-test {
  border-left: 1px solid transparent;
  border-right: 4px solid transparent;
  height: 50%;

  &-wrapper {
    height: 90%;
    padding-top: 10px;
    width: 100%;
  }

  &-header {
    height: 31px;
    width: 100%;
    background-color: var(--color-typography-light);
    padding: 0 12px;
    line-height: 32px;
    font-weight: var(--font-weight-bold);
    color: var(--color-light);
    font-size: var(--font-size-small);
  }

  &-group {
    height: 90%;
  }
}

.list-test-icon {
  padding-right: 9px;
}

.list-test-name {
  padding-top: 1px;
}

