.popover-comment {
  width: 400px;
  height: 400px;
  background-color: var(--color-light);
  outline: none;
  box-shadow: var(--box-shadow);
}

.popover-comment-content {
  border-bottom: 1px solid var(--color-tertiary);
  overflow-y: scroll;
  width: 398px;
  height: 313px;

  &-focus {
    height: 233px;
    transition: all 0.5s ease;
    transition-property: height;
  }
}

.add-content {
  width: 398px;
  height: 84px;

  &-focus {
    height: 164px;
  }
}

.type-comment {
  padding: 17px 10px 0 10px;

  &-focus {
    height: 101px;
  }
}

.add-comment-button {
  white-space: nowrap;
  padding: 8px 10px 0 10px;
  height: 46px;
  display: flex;
  justify-content: flex-end;
}

.button-send {
  width: 68px;
  height: 38px;
  padding: 3px 2px 3px 2px;
}

.comment {
  margin-top: 24px;
  border: none;
  cursor: default;
  padding: 2px 12px;
  line-height: 31px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.avatar-user-comment {
  padding-left: 14px;
  width: 16%;

  &-img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }
}

.comment-content {
  width: 84%;
  font-size: var(--font-size-small);
  padding-left: 15px;

  &-top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
  }

  &-bottom {
    white-space: normal;
  }
}

.name-user-comment {
  font-weight: var(--font-weight-bold);
}

.date-comment {
  color: var(--color-typography);
  font-size: var(--font-size-smallest);
}
