.header {
  border-bottom: 1px solid var(--color-tertiary);
  white-space: nowrap;
  height: var(--default-header-height);
  background-color: var(--color-light);
  padding: 2px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  vertical-align: top;
  border-width: 0px;
  width: 58px;
  height: 100%;
  display: flex;
  align-items: center;

  &-image {
    width: 58px;
    transform: translate(3px, 4px);
  }

  &-title {
    padding-left: 11px;
    line-height: 47px;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  color: var(--color-typography);
  height: 36px;
}

.nav-item {
  width: 118px;
  height: 100%;
  margin-right: 36px;
  padding-right: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-filter {
    width: 158px;
  }

  &-language {
    margin-right: 32px;
  }

  &-content {
    font-size: var(--font-size-small);
    color: var(--color-typography-dark);

    &-user {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &-button {
    width: 108px;
    height: 36px;
    padding: 3px 2px;
    margin-left: 2px;
  }
}

.icon {
  &-multiple,
  &-earth {
    font-size: 18px;
    padding-right: 6px;
  }

  &-menu-user,
  &-menu-language {
    font-size: 20px;
    padding-right: 6px;
  }

  &-export {
    font-size: 20px;
    padding-right: 4px;

    &::before {
      height: 31px;
    }
  }
}

.item-info {
  color: var(--color-info);
}
