.list-done {
  border-left: 2px solid transparent;
  border-right: 4px solid transparent;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  border: 1px solid var(--color-tertiary);
  cursor: pointer;
  overflow: hidden;
  background-color: var(--color-light);
}

.list-inprogress {
  border-left: 2px solid transparent;
  border-right: 4px solid transparent;
}

.icon-chevron {
  color: var(--color-typography);
  font-size: 24px;
  padding-right: 10px;
  height: 100%;
  line-height: 44px;
}

.list-inprogress-name {
  padding-left: 11.5px;
}


