.filter-language {
  width: 160px;
  height: 108px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--color-typography-dark);
  cursor: default;
  overflow: hidden;
  background-color: var(--color-light);
  box-shadow: var(--box-shadow);

  &-content {
    outline: none;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

  &-items {
    width: 100%;
    height: auto;
    clear: both;
    position: relative;
    outline: none;
  }

  &-item {
    width: 100%;
    height: 36px;
    overflow: hidden;
    border-bottom: 1px solid var(--color-primary-light);
    padding: 2px 12px;
    line-height: 31px;
  }
}

.item-selected {
  box-shadow: inset 2px 0 var(--color-info);
  background: var(--color-secondary);
}
