.btn {
  line-height: 30px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &-hover-info {
    background-color: var(--color-secondary);

    &:hover {
      color: var(--color-info);
    }
  }

  &:hover {
    filter: brightness(95%);
  }

  &-secondary {
    background-color: var(--color-secondary);
    color: var(--color-info);
  }

  &-info {
    background-color: var(--color-info);
    color: var(--color-light);
  }

  &-icon {
    background-color: transparent;
    color: var(--color-typography);
    font-size: 20px;
  }
}

.icon-export {
  font-size: 20px;
  padding-right: 4px;

  &::before {
    height: 31px;
  }
}
