.popup-delete {
  pointer-events: auto;
  overflow: hidden;
  display: inline-block;
  min-width: 250px;
  width: 250px;
  text-align: center;
  position: fixed;
  background-color: var(--color-light);
  box-shadow: var(--box-shadow);
  z-index: 20000;
  border-radius: 0px;
  border: 1px solid var(--color-tertiary);
  outline: none;
  top: calc((100% - 120px) / 2);
  left: calc((100% - 252px) / 2);

  &-text {
    box-shadow: inset 0 4px var(--color-info);
    overflow: hidden;
    padding: 24px 16px 0px 16px;
    font-size: var(--font-size-small);
    color: var(--color-typography-dark);
    line-height: 20px;
    letter-spacing: 0;
    white-space: normal;
  }

  &-controls {
    padding: 4px 12px 12px;
  }
}

.button-control {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin: 0 4px;
  border-radius: 2px;
  margin-top: 8px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0px;
  min-width: 100px;
}
