.modal-tag {
  width: 496px;
  height: 181px;
  z-index: 108;
  position: fixed;
  top: calc((100% - 67px) / 2);
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-small);
  color: var(--color-typography-dark);
  cursor: default;
  background-color: var(--color-light);

  &-wrapper {
    overflow-y: scroll;
    height: 100%;
  }

  &-content {
    display: flex;
    align-items: center;
    padding: 2px 16px;
    height: 36px;
    cursor: pointer;
    border-bottom: 1px solid var(--color-primary-light);
    font-size: var(--font-size-small);
    text-transform: lowercase;
  }
}

.checkbox {
  margin-right: 6px;
  color: var(--color-typography);
  cursor: pointer;
  padding-left: 2px;
  accent-color: var(--color-info);
}

.select-focus {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 0;
  float: left;
  vertical-align: middle;
  font-size: var(--font-size-small);
  padding: 0px;
  color: var(--color-typography-dark);
  margin-left: 9px;
  border-radius: 2px;
  outline: none;
}
