.textarea {
  border-color: var(--color-tertiary);
  width: 100%;
  height: 100%;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  color: var(--color-typography-dark);
  resize: none;
  font-size: var(--font-size-small);
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  background: var(--color-light);
  outline: none;

  &:focus {
    border-color: var(--color-info);
  }
}
