.popover-select-avatar {
  margin-left: 170px;

  &-contents {
    font-size: var(--font-size-small);
    color: var(--color-typography-dark);
    letter-spacing: 0.2px;
    cursor: default;
    white-space: normal;
    box-shadow: var(--box-shadow);
    background-color: var(--color-light);
    overflow-y: scroll;
    width: 100%;
    height: 200px;
    position: relative;
  }
}

.list-avatar {
  box-sizing: border-box;
  padding: 2px 12px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-primary-light);
  text-align: left;
  border-color: var(--color-primary-light);
  width: 100%;
  height: 36px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &-checked {
    box-shadow: inset 2px 0 var(--color-info);
  }
}

.avatar-select {
  &-name {
    padding-left: 12px;
  }

  &-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-secondary);

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
}
