.popover-setting {
  width: 150px;
  border: none;
  outline: none;
  box-shadow: var(--box-shadow);
}

.setting-item {
  background-color: var(--color-light);
  padding: 2px 12px;
  line-height: 31px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-small);

  &:hover {
    background-color: var(--color-secondary);
  }
}
