.wrapper {
  width: 100%;
  height: 100vh;
  background: transparent;
}

.container {
  padding: 10px;
  padding-right: 7px;
  min-height: 100vh;
  background-color: var(--color-primary);
  white-space: nowrap;
  border-width: 1px 0px solid var(--color-tertiary);
}

.home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
