.file-preview {
  width: 161px;
  height: 91px;
  position: relative;
  margin-right: 6px;
}

.image-preview {
  width: 100%;
  height: 100%;
}

.button-close-preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 0 0 0 2px;
  background-color: var(--color-background-modal);
  text-align: center;
  line-height: 20px;
}

.icon-close-preview {
  color: var(--color-light);

  &:hover {
    color: var(--color-danger);
  }
}

