.list {
  display: flex;
  flex-direction: column;
  width: calc(25% - 5px);

  &-name {
    font-weight: var(--font-weight-bold);
    padding-left: 12px;
    line-height: 43px;
    letter-spacing: 0;
  }

  &-backlog-title {
    height: 44px;
    line-height: 44px;
    font-weight: var(--font-weight-bold);
    white-space: nowrap;
    color: var(--color-dark-gray);
  }

  &-backlog-content {
    border-right: 4px solid transparent;
    border-left: 1px solid transparent;
  }
}

.icon-plus-circle {
  color: var(--color-typography);
  font-size: 20px;
  width: 20px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 8px;
}

