.avatar {
  flex-shrink: 0;
  border-radius: 50%;
  outline: none;

  &-normal {
    width: 48px;
    height: 48px;
  }

  &-small {
    width: 32px;
    height: 32px;
  }

  &-checked {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 0 0 1px 1px var(--color-info);
    }
  }
}

