.task {
  margin-top: 8px;
  background-color: var(--color-light);
  color: var(--color-typography-dark);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid var(--color-tertiary);
  border-left: 3px solid var(--color-info);
  cursor: pointer;

  &-selected {
    background-color: var(--color-secondary);
  }

  &-info {
    border-left-color: var(--color-info);
  }

  &-success {
    border-left-color: var(--color-success);
  }

  &-warning {
    border-left-color: var(--color-warning);
  }

  &-danger {
    border-left-color: var(--color-danger);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 0px 12px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 8px 6px 7.5px;
  }
}

.task-header {
  &-title {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    line-height: 20px;
    padding-bottom: 1px;
    overflow: hidden;
  }

  &-avatar {
    background-color: var(--color-secondary-dark);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 0 0 1px 1px var(--color-info);
    }
  }
}

.task-content-controls {
  display: flex;
  align-items: center;
  padding-right: 4px;
}

.icon-task {
  &:hover {
    color: var(--color-info);
  }
}

.icon {
  &-account {
    font-size: 30px;
    color: var(--color-typography);
    padding-bottom: 2px;
  }

  &-file {
    font-size: 19px;
    color: var(--color-typography);
    display: flex;
    align-items: center;
    padding-top: 2px;
  }

  &-comment {
    margin-left: 2px;
  }

  &-comment,
  &-cogs {
    color: var(--color-typography);
  }
}

