:root {

  // Color
  --color-primary: #ebedf0; // bg-body
  --color-primary-light: #edeff0;
  --color-secondary: #f4f5f9; // bg-button, selected task
  --color-secondary-dark: #e7e9f2;
  --color-tertiary: #dadee0; // border
  --color-light: #ffffff; // bg-header-task
  --color-dark: #000000;
  --color-dark-gray: #313131;
  --color-typography: #94a1b3; // bg-icon
  --color-typography-dark: #475466; // color text in task#
  --color-typography-light: #657584; // color text
  --color-success: #008000;
  --color-warning: #ffa500;
  --color-danger: #ff0000;
  --color-info: #1ca1c1;
  --color-background-modal: rgba(0, 0, 0, 0.2);

  // Font size
  --font-size-smallest: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;

  // Font weight
  --font-weight-normal: 400;
  --font-weight-bold: 500;

  // Variable layout
  --default-header-height: 58px;

  // Box shadow
  --box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%), 0 1px 7px 0 rgb(0 0 0 / 10%);
}
