.form-edit {
  &-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-background-modal);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    translate: all 0.3 ease-in-out;
    pointer-events: none;

    &-show {
      opacity: 1;
      pointer-events: visible;
    }
  }

  &-container {
    background-color: var(--color-light);
    border-width: 1px solid var(--color-tertiary);
    display: block;
    width: 536px;
    height: 491px;
    outline: none;
    box-shadow: var(--box-shadow);
    padding: 0 17px;
  }

  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 1px;
  }

  &-title {
    font-weight: var(--font-weight-bold);
    letter-spacing: 0px;
  }

  &-texts {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-left: 1px;
    padding-right: 1px;
  }

  &-combobox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 8px;
    padding: 8px 1px 0 1px;
  }

  &-textarea {
    width: 100%;
    height: 68px;
    padding: 3px 2px;
    overflow: hidden;
  }

  &-label {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-gray);
    letter-spacing: 0.2px;
    line-height: 19px;
    padding-left: 2px;
  }

  &-input {
    width: 100%;
    height: 36px;
    padding: 1px 2px 3px 2px;
  }

  &-input-tag {
    line-height: 30px;
    width: 100%;
    text-align: left;
    height: 100%;
    border-radius: 2px;
    white-space: nowrap;
    padding: 0 3px 0 0;
    background-color: var(--color-light);
    border: 1px solid var(--color-tertiary);
    overflow: hidden;
    float: left;
    display: flex;

    &:focus-within {
      border-color: var(--color-info);
    }
  }

  &-tags {
    padding: 8px 1px 0 1px;
  }

  &-file-upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 3px 0 1px;
  }

  &-file-drop {
    border-width: 0px;
    width: 100%;
    height: 96px;
    position: relative;
    outline: none;
    padding: 5px 1px 0 1px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    margin-top: 17px;
    padding: 0 1px;
  }
}

.button-close {
  width: 38px;
  height: 38px;
  border-radius: 50px;

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-typography-dark);
  }
}

.tag-item {
  width: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
}

.form-combobox {
  width: calc((100% - 16px) / 3);

  &-input {
    width: 100%;
    padding: 1px 2px 0 2px;
  }
}

.combobox-input {
  border: 1px solid var(--color-tertiary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  width: 100%;
  height: 32px;
  padding-left: 12px;

  &:focus-within {
    border-color: var(--color-info);
  }
}

.icon-menu-down {
  color: var(--color-typography);
  font-size: 20px;
  padding-right: 3px;
}

.button-upload {
  height: 100%;
}

.label-upload {
  color: var(--color-typography-dark);
  letter-spacing: 0;
}

.icon-upload {
  transform: translate(-2px, -1px);
}

.drop {
  height: 100%;
  padding: 0;
  border: 2px dashed var(--color-info);
  border-radius: 2px;
  line-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    line-height: 90px;
    padding-top: 2px;
  }
}

.button {
  &-remove {
    height: 100%;
    width: 90px;
    padding: 3px 2px;
  }

  &-save {
    width: 67px;
    height: 100%;
    padding: 3px 2px;

    &-disable {
      pointer-events: none;
    }
  }

  &-upload {
    font-size: var(--font-size-small);
  }
}

.preview-file {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}
