.popup-filter {
  width: 260px;
  height: 448px;
  font-size: var(--font-size-small);
  color: var(--color-typography-dark);
  cursor: default;
  background-color: var(--color-light);
  box-shadow: var(--box-shadow);

  &-contents {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-scroll {
    width: 100%;
    height: auto;
    clear: both;
    position: relative;
  }
}

.list-item {
  box-sizing: border-box;
  padding: 2px 12px;
  line-height: 31px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-primary-light);
  text-align: left;
  border-color: var(--color-primary-light);
  width: 100%;
  height: 64px;
  overflow: hidden;

  &-user {
    border-color: transparent;
  }

  &-user-checked {
    box-shadow: inset 2px 0 var(--color-info);
    background-color: var(--color-secondary);
  }
}

.reset-filter {
  display: flex;
  align-items: center;
  padding: 13px 0;
  width: 100%;
  outline: none;

  &-text {
    line-height: 20px;
    padding-top: 3px;
  }
}

.icon-delete-forever {
  font-size: 24px;
  color: var(--color-typography);
  margin-right: 10px;
  outline: none;
  padding-top: 1px;
}

.user-filter {
  display: flex;
  align-items: center;
  padding: 8px 0;
  outline: none;

  &-image {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 16px;
    outline: none;
  }

  &-name {
    font-weight: var(--font-weight-bold);
    line-height: 20px;
    letter-spacing: 0.2px;
    white-space: nowrap;
    outline: none;
  }
}

.avatar-user {
  width: 100%;
}
